@import url(https://fonts.googleapis.com/css?family=Oswald:400);

body {
    background-color: goldenrod;
    text-align: center;
    margin: auto;
    max-width: 500px;



}
h3 {

    font-size: 20px;
    text-align: center;
    font-family: Arial-BoldMT, Arial, Arial;
}
h2 {
    position: relative;
    font-size: 50px;
    color: midnightblue;
    text-align: center;
    font-family: Arial-BoldMT, Arial, Arial;
    margin-top: 50px;
}
h1 {
    position: relative;
    top: 15px;
    color: midnightblue;
    text-align: center;
    font-family: Arial-BoldMT, Arial, Arial;

}
#Sentrere {

    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
    height: 50%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
#submit center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

.imgLogo {
    position: fixed;
    top: 3px;
    left: 5px;
    z-index: 2;
    width: 10%;
}

#feltned {
    margin-top: 25px;

}
td, th {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: midnightblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: darkslateblue;
}

#right-top {
    position: absolute;
    right: 3%;
    top: 5%;
}


.navigation {
    width: 100%;
    background-color: black;
}

.buttonimage {
    width: 30px;
    border-radius: 0px;
    float: left;
}

.logouttext {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 0.5px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.logoutbutton {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: black;
    width: 50px;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;

}

a:hover {
    width: 100px;
}

a:hover .logouttext{
    opacity: .9;
}

a {
    text-decoration: none;
}





/* Husk å legge inn CSS fil for hver rolle */
